{% extends 'base_2.html' %}

{% block content %}
    <h1>{% block title %} Add a New Item {% endblock %}</h1>
    <form method="post">
        <p>


           



            <!--User chooses what type of item they lost -->
            <div>
              <label id="itemtype-label" for="dropdown"> Please select an item:  </label>
              
              <select id="available-items" name="available-items" method="post"></select>

              
            </div>
        

            <div>
              <label id="clothing-label" for="dropdown" style="display:none;">Please select a type of clothing: </label>
              
              <select id="clothing-types" name="clothing-types" method="post"></select>
             
              
            </div>

            <div>
              <label id="brand-label" for="dropdown" >Please select a brand: </label>
                
              <select id="brands" name="size" method="post"></select>
             
              
            </div>
        
            <div>
              <label id="size-label" for="dropdown" >Please select a size: </label>
                
              <select id="size" name="size" method="post"></select>
             
              
            </div>

            <div>
              <label id="location-label" for="dropdown" >Please select a location where item was lost if known: </label>
                
              <select id="location" name="location" method="post"></select>
             
              
            </div>
        
            
        </p>

      

       

      
        

       
     
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>

    
{% endblock %}