{% extends 'base_2.html' %}

{% block content %}
    <h1>{% block title %} Add a New Item {% endblock %}</h1>
    <form method="post">
        <p>
            <a href="#createSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">What did you lose?</a>
            <ul class="collapse list-unstyled" id="createSubmenu">
                <li>
                    <a href="" >Clothing</a>
                </li>
                <li>
                    <a href="">Devices</a>
                </li>
                <li>
                    <a href="#">Waterbottle</a>
                </li>
                <li>
                    <a href="#">Backpack</a>
                </li>
            </ul>
        
            
        </p>

      

       

      
        

       
     
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>

    <script> function showDiv(prefix, chooser) {
        var selectedOption = (chooser.options[chooser.selectedIndex].value);
        if (selectedOption == "Clothing") {
          var div = ClothingType
          div.style.display = 'Block';
          
          var div2 = Brand
          div2.style.display = 'Block';
        } else {
          var div = document.getElementById(prefix + "2");
          div.style.display = 'None';
        }
      }
      </script>
{% endblock %}




