{% extends 'base_2.html' %}

{% block content %}
    <h1>{% block title %} Add a New Item {% endblock %}</h1>
    <form method="post">
        <p>


           



            <!--User chooses what type of item they lost -->
            <div class="form-label-group">
                <select name="item_type" id="" onchange="showDiv('div',this)" class="form-control">
                  <option value="">What did you lose?</option>
                  <option value="Clothing">Clothing</option>
                  <option value="Device">Device</option>
                   <option value="Wallet">Wallet/Purse</option>
                  <option value="Backpack">Backpack</option>
                   <option value="Waterbottle">Waterbottle</option>
                  <option value="Other">Other</option>
                </select>
                

                <!--User chooses what type of clothing they lost -->
                <div id="ClothingType" style="display:none;">
                  <select name="ClothingType" id="type" class = "form-control">
                  <option value = "" > What type of clothing?</option>
                    <option value="T-shirt">T-shirt</option>
                  <option value="Jacket">Jacket</option>
                   <option value="Sweatshirt">Sweatshirt</option>
                  <option value="Hat">Hat</option>
                   
                  <option value="1">Other</option>
                  </select>
                </div>
                

                <!--User chooses what type of clothing brand they lost -->
                <div id="ClothingBrand" style="display:none;">
                  <select name="ClothingBrand" id="type" class = "form-control">
                  <option value="">What brand?</option>
                    <option value="Lulu">Lulu</option>
                  <option value="Vuori">Vuori</option>
                 
                
                
                  <option value="1">Other</option>
                  </select>
                </div>

                <!--User chooses what color their item is -->
                <div id="Color" style="display:none;">
                  <select name="Color" id="type" class = "form-control">
                  <option value="">What color?</option>
                  <option value="Blue">Blue</option>
                  <option value="Black">Black</option>
                  <option value="Yellow">Yellow</option>
                  <option value="Green">Green</option>
                  <option value="Purple">Purple</option>
                  <option value="Orange">Orange</option>
                  <option value="1">Other</option>
                  </select>
                </div>

                <!--User chooses what type of clothing they lost -->
                <div id="WaterbottleBrand" style="display:none;">
                  <select id="type" class = "form-control">
                  <option value = "" > What type of waterbottle?</option>
                    <option value="Hydroflask">Hydroflask</option>
                  <option value="Nalgene">Nalgene</option>
                  <option value="Stanley">Stanley</option>
                  <option value="1">Other</option>

                  </select>
                </div>


                <!--User chooses if they have any stickers on the bottle -->
                <div id="Stickers" style="display:none;">
                  <select id="type" class = "form-control">
                  <option value = "" > Does your waterbottle have stickers?</option>
                    <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  </select>
                </div>

                <!--User chooses their waterbottle cap type -->
                <div id="BottleCap" style="display:none;">
                  <select id="type" class = "form-control">
                  <option value = "" > What was your cap type?</option>
                    <option value="straw">Screw on, no straw</option>
                  <option value="noStraw">Screw on, with straw</option>
                  </select>
                </div>


                <div id="DeviceType" style="display:none;">
                  <select id="type" class = "form-control">
                  <option value = "" > What type of device?</option>
                  <option value="Phone">Phone</option>
                  <option value="Laptop">Laptop</option>
                  <option value="Earbuds">Earbuds</option>
                  <option value="Tablet">Tablet</option>
                  <option value="Watch">Watch</option>
                  <option value="Other">Other</option>
                  </select>
                </div>
                

                <div id="DeviceBrand" style="display:none;">
                  <select id="type" class = "form-control">
                  <option value = "" > What brand is the Device?</option>
                    <option value="Hydroflask">Apple</option>
                  <option value="Nalgene">Samsung</option>
                  <option value="Stanley">Google</option>
                  <option value="1">Garmin</option>
                  <option value="1">Fitbit</option>

                  </select>
                </div>


                
                






              
              </div>
        
            
        </p>

      

       

      
        

       
     
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>

    <script> function showDiv(prefix, chooser) {
        var selectedOption = (chooser.options[chooser.selectedIndex].value);
        if (selectedOption == "Clothing") {
          var div = ClothingType
          div.style.display = 'Block';
          
          var div2 = ClothingBrand
          div2.style.display = 'Block';

          var div3 = Color 
          div3.style.display = 'Block'

          

        } else {
          var div = document.getElementById(prefix + "2");
          div.style.display = 'None';
        }
      }
      </script>
{% endblock %}