{% extends 'UI.html' %}

{% block content %}
<head>
 
  
  <title>Document</title>
 
  <style>
 

*{
	list-style: none;
            text-decoration: none;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-weight: 400;
}

body{
      height: 100vh;
      background: #e1edf9;
}



.wrapper .form_container{
width: 500px;
  margin: 50px auto 0;
  background: #fff;
  padding: 30px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}
.heading{
  background: #0c7db1;
  margin: -30px;
  text-align: center;
  color: white;
  font-size: 19px;
  margin-bottom: 35px;
  padding: 20px;
}

.form_container .heading h2{
    font-size: 18px;
}

.wrapper .form_container .form_item{
  margin-bottom: 25px;
}

/* .form_wrap.fullname{
  display: flex;
} */

.form_wrap.fullname .form_item,
.form_item{
  width: 100%;
}

.form_wrap.fullname .form_item:first-child,
.form_item:first-child{
  margin-right: 4%;
}

/* .wrapper .form_container .form_item label{
  display: flex;
  margin-bottom: 5px;
} */



.form_item button[type="text"],
.form_item select{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #dadce0;
  border-radius: 3px;
}

.form_item button[type="text"]:focus{
  border-color: #6271f0;
}

.btn button[type="submit"]{
  margin: 25px auto -25px;
  background: #0c7db1;
  border: 1px solid #0c7db1;
  padding: 15px;
  width: 100%;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}
  </style>
</head>
<form id="newClaim" method="post"  action="/foundItem/" enctype="multipart/form-data">
<body>
 
	<div class="wrapper">
    <div class="form_container">
      
        <div class="heading">
          <h2>Found Item Claim</h2>

    </div>
    
    <div class="form_item">
      <label id="itemtype-label" for="dropdown"> Please select an item:  </label>
      
      <select id="available-items" name="available-items" ></select>

      
    


    
      <label id="clothing-label" for="dropdown" style="display:none;">Please select a type of clothing: </label>
      
      <select id="clothing-types" name="clothing-types"  style="display:none;"></select>
     
      
   

   
      <label id="brand-label" for="dropdown" style="display:none;">Please select a brand: </label>
        
      <select id="brands" name="brands" style="display:none;"></select>
     
      
   

   
      <label id="model-label" for="dropdown" style="display:none;">Please select device model: </label>
        
      <select id="models" name="models"  style="display:none;"></select>
      
        
      
     
      
    

    
      <label id="color-label" for="dropdown" style="display:none;">Please select a color: </label>
        
      <select id="color" name="color"  style="display:none;"></select>
     
      
   

    
      <label id="size-label" for="dropdown" style="display:none;" >Please select a size: </label>
        
      <select id="size" name="size" style="display:none;"></select>
     
      
    

   
      <label id="stickers-label" for="dropdown" style="display:none;">Were there any stickers on your waterbottle?: </label>
        
      <select id="stickers" name="stickers"  style="display:none;"></select>
      
     
      
    

    
      <label id="book-label" for="book" style="display:none;">What was the title of your book?: </label>
      <input type="text" id="book" name="book"  style="display:none;">
   


    
      <label id="location-label" for="dropdown"  style="display:none;">Please select a location where item was lost if known: </label>
        
      <select id="location" name="location"  style="display:none;"></select>


      
     
      <input type="file" name="image-upload" id="image-upload">
      
   
      

      <input type="submit" value="Submit">
     
   

  </form>
  <div id="error-msg" style="display: none; color: red;">Please select a value for all dropdowns.</div>
    
		
	  </div> 
  <!-- jQuery CDN - Slim version (=without AJAX) -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>



        <script> 
        document.querySelector("body").classList.toggle('active');
        var hamburger = document.querySelector(".hamburger");
        hamburger.style.display = "block";
        $(document).ready(function() {

            $('#clothing-types').hide();
            let dropdown = $('#available-items');

            dropdown.append('<option selected="true" disabled>Choose Item Type</option>');
            dropdown.prop('selectedIndex', 0);
            
            //URL to get data from 
            const url = 'http://127.0.0.1:5000/api/item-type';
            
            // Populate dropdown with list of provinces
            $.getJSON(url, function (data) {
                
            
            for (var i = 0; i < data.length; i++) {
                // Access the values within the current array
                var value1 = data[i][0];
                var value2 = data[i][1];
  
                // Create an <option> element with the value and text set to the current values
                var option = $("<option>").val(value1).text(value2);
               
  
                // Append the <option> element to the <select> element
                dropdown.append(option);
            }

        })


        $('#available-items').on('change', function() {
            previous = $('#available-items').val()
            let dropdown = $('#clothing-types');
            if (previous == 1){
            $('#clothing-types, #clothing-label').show();

            
            dropdown.empty();
            dropdown.append('<option selected="true" disabled>Choose Type</option>');
            dropdown.prop('selectedIndex', 0);
            var id = $("#available-items").val()
            
            
                
                const url = 'http://127.0.0.1:5000/api/returnAttributes?var1=' + id + '&var2=ClothingType';
               
                // Populate dropdown with list of provinces
                $.getJSON(url, function (data) {
                    
            
                    for (var i = 0; i < data.length; i++) {
                    // Access the values within the current array
                        var value1 = data[i][4];    
  
                    // Create an <option> element with the value and text set to the current values
                        var option = $("<option>").val(value1).text(value1);
               
  
                    // Append the <option> element to the <select> element
                        dropdown.append(option);
                }
            })
            
     
            
        }
        else { 
            $('#clothing-types, #clothing-label').hide();
            var blank = ''
            dropdown.append('<option value="' + blank + '">' + blank + '</option>');
            dropdown.val(blank);
        }
        
    });   
    


    $('#available-items').on('change', function() {
            
            let dropdown = $('#brands');
            dropdown.empty();
            dropdown.append('<option selected="true" disabled>Choose Brand</option>');
            dropdown.prop('selectedIndex', 0);
            var id = $("#available-items").val()
            //var previous = $("#clothing-types").val()
            
            
                
              
            
            const url = 'http://127.0.0.1:5000/api/returnAttributes?var1=' + id + '&var2=Brand';
            
            // Populate dropdown with list of provinces
            $.getJSON(url, function (data) {
               
        
                for (var i = 0; i < data.length; i++) {
                // Access the values within the current array
                    var value1 = data[i][4];
                    

                // Create an <option> element with the value and text set to the current values
                    var option = $("<option>").val(value1).text(value1);
            

                // Append the <option> element to the <select> element
                    dropdown.append(option);
            }
            })
            

       
        
    });   

    $('#available-items').on('change', function() {
            previous = $('#available-items').val()
            let dropdown = $('#models');
            

            if (previous == 3){
            $('#models, #model-label').show();

            
            dropdown.empty();
            dropdown.append('<option value = "" selected>Choose Model</option>');
            dropdown.prop('selectedIndex', 0);
            var id = $("#available-items").val()
            
            
                
              
            
                const url = 'http://127.0.0.1:5000/api/returnAttributes?var1=' + id + '&var2=Model';
               
                // Populate dropdown with list of provinces
                $.getJSON(url, function (data) {
                    
            
                    for (var i = 0; i < data.length; i++) {
                    // Access the values within the current array
                        var value1 = data[i][4];
                        
  
                    // Create an <option> element with the value and text set to the current values
                        var option = $("<option>").val(value1).text(value1);
               
  
                    // Append the <option> element to the <select> element
                        dropdown.append(option);
                }
            })
            
     
            
        }
        else { 
            $('#models, #model-label').hide();

            var blank = ""
            dropdown.append('<option value="' + blank + '">' + blank + '</option>');
            dropdown.val(blank);
            
            
            
        }
        
    });   

    $('#available-items').on('change', function() {
            
            let dropdown = $('#color');
            dropdown.empty();
            var blank = ''
            dropdown.append('<option value="' + blank + '">Choose a color</option>');
            dropdown.val(blank);
            dropdown.prop('selectedIndex', 0);
            
            var id = $("#available-items").val()
            
             
            
            const url = 'http://127.0.0.1:5000/api/returnAttributes?var1=' + id + '&var2=Color';
            
            // Populate dropdown with list of provinces
            $.getJSON(url, function (data) {
               
        
                for (var i = 0; i < data.length; i++) {
                // Access the values within the current array
                    var value1 = data[i][4];
                    

                // Create an <option> element with the value and text set to the current values
                    var option = $("<option>").val(value1).text(value1);
            

                // Append the <option> element to the <select> element
                    dropdown.append(option);
            }
            })
            

        
    });   

    $('#available-items').on('change', function() {
            
        previous = $('#available-items').val()
        let dropdown = $('#size');
            if (previous == 1 | previous == 2){
            $('#size, #size-label').show();

            
            dropdown.empty();
            dropdown.append('<option selected="true" disabled>Choose Size</option>');
            dropdown.prop('selectedIndex', 0);
            var id = $("#available-items").val()
            //var previous = $("#clothing-types").val()
            
          
            const url = 'http://127.0.0.1:5000/api/returnAttributes?var1=' + id + '&var2=Size';
            
            // Populate dropdown with list of provinces
            $.getJSON(url, function (data) {
               
                for (var i = 0; i < data.length; i++) {
                // Access the values within the current array
                    var value1 = data[i][4];
                    

                // Create an <option> element with the value and text set to the current values
                    var option = $("<option>").val(value1).text(value1);
            

                // Append the <option> element to the <select> element
                    dropdown.append(option);
            }
            })
            
        }
        else { 
            $('#size, #size-label').hide();
            var blank = ''
            dropdown.append('<option value="' + blank + '">' + blank + '</option>');
            dropdown.val(blank);
        }
                
     
    });   

    $('#available-items').on('change', function() {
            previous = $('#available-items').val()
            let dropdown = $('#stickers');
            if (previous == 2){
            $('#stickers, #stickers-label').show();

            
            dropdown.empty();
            dropdown.append('<option selected="true" disabled>Choose Type</option>');
            dropdown.prop('selectedIndex', 0);
            dropdown.append('<option> Yes </option>');
            dropdown.append('<option> No </option>');
     
        }
        else { 
            $('#stickers, #stickers-label').hide();
            var blank = ''
            dropdown.append('<option value="' + blank + '">' + blank + '</option>');
            dropdown.val(blank);
        }
        
    });   


    $('#available-items').on('change', function() {
            previous = $('#available-items').val()
            
            if (previous == 5){
            $('#book, #book-label').show();
            $('#brands, #brand-label').hide();
            $('#color, #color-label').hide();    
        }
        else { 
            
            $('#book, #book-label').hide();
            $('#brands, #brand-label').show();
            $('#color, #color-label').show();
           
        }
        
    });   
    
    $('#available-items').on('change', function() {
      $('#location, #location-label').show();
            let dropdown = $('#location');
            dropdown.empty();
            dropdown.append('<option selected="true" disabled>Choose Location</option>');
            dropdown.prop('selectedIndex', 0);
            var id = $("#available-items").val()
        
            const url = 'http://127.0.0.1:5000/api/returnAttributes?var1=' + id + '&var2=Location';
            
            // Populate dropdown with list of provinces
            $.getJSON(url, function (data) {
               
        
                for (var i = 0; i < data.length; i++) {
                // Access the values within the current array
                    var value1 = data[i][4];
                    

                // Create an <option> element with the value and text set to the current values
                    var option = $("<option>").val(value1).text(value1);
            

                // Append the <option> element to the <select> element
                    dropdown.append(option);
            }
            })
            
        
    });   
    $('#newClaim').submit(function(event) {
        
        var itemType = $('#available-items');
        var itemTypeVal = itemType.val();
        var clothingType = $('#clothing-types');
        var clothingTypeVal = clothingType.val();
        var brands = $('#brands');
        var brandsVal = brands.val();
        var models = $('#models');
        var modelsVal = models.val();
        var color = $('#color');
        var colorVal = color.val();
        var size = $('#size');
        var sizeVal = size.val();
        var stickers = $('#stickers');
        var stickersVal = stickers.val();
        var location = $('#location');
        var locationVal = location.val();

        if (itemTypeVal === null || itemTypeVal === undefined ||
        clothingTypeVal === null || clothingTypeVal === undefined ||
        brandsVal === null || brandsVal === undefined ||
        modelsVal === null || modelsVal === undefined ||
        colorVal === null || colorVal === undefined ||
        sizeVal === null || sizeVal === undefined ||
        stickersVal === null || stickersVal === undefined ||
        locationVal === null || locationVal === undefined) {
            event.preventDefault();
            
            console.log('Error: One or more fields are empty');
            if(!itemTypeVal) console.log('itemTypeVal is empty');
            if(!clothingTypeVal) console.log('clothingTypeVal is empty');
            if(!brandsVal) console.log('brandsVal is empty');
            if(!modelsVal) console.log('modelsVal is empty');
            if(!colorVal) console.log('colorVal is empty');
            if(!sizeVal) console.log('sizeVal is empty');
            if(!stickersVal) console.log('stickersVal is empty');
            if(!locationVal) console.log('locationVal is empty');

            $('#error-msg').show();
        }
});

});

    

        </script> 
</body>
</form>
</html>
{% endblock %}