{% extends 'base_2.html' %}

{% block content %}
    <h1>{% block title %} Add a New Item {% endblock %}</h1>
    <form method="post">
        <p>


           



            <!--User chooses what type of item they lost -->
            <div>
              <label id="itemtype-label" for="dropdown"> Please select an item:  </label>
              
              <select id="available-items" name="available-items" method="post"></select>

              
            </div>
        

            <div>
              <label id="clothing-label" for="dropdown" style="display:none;">Please select a type of clothing: </label>
              
              <select id="clothing-types" name="clothing-types" method="post" style="display:none;"></select>
             
              
            </div>

            <div>
              <label id="brand-label" for="dropdown" >Please select a brand: </label>
                
              <select id="brands" name="size" method="post"></select>
             
              
            </div>

            <div>
              <label id="model-label" for="dropdown" style="display:none;">Please select device model: </label>
                
              <select id="models" name="models" method="post" style="display:none;"></select>
              
             
              
            </div>

            <div>
              <label id="color-label" for="dropdown" >Please select a color: </label>
                
              <select id="color" name="color" method="post"></select>
             
              
            </div>
        
            <div>
              <label id="size-label" for="dropdown" style="display:none;" >Please select a size: </label>
                
              <select id="size" name="size" method="post" style="display:none;"></select>
             
              
            </div>

            <div>
              <label id="stickers-label" for="dropdown" style="display:none;">Were there any stickers on your waterbottle?: </label>
                
              <select id="stickers" name="stickers" method="post" style="display:none;"></select>
              
             
              
            </div>

            <div>
              <label id="book-label" for="book" style="display:none;">What was the title of your book?: </label>
              <input type="text" id="book" name="book" method="post" style="display:none;">
            </div>
        

            <div>
              <label id="location-label" for="dropdown" >Please select a location where item was lost if known: </label>
                
              <select id="location" name="location" method="post"></select>
             
              
            </div>

            

            
            
        </p>

      

       

      
        

       
     
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>

    
{% endblock %}